/***************/
/* @group Main */
/***************/
@import url(reset.css);

/****************/
/* @group Fonts */
/****************/
@import url(http://fonts.googleapis.com/css?family=Arvo|Poiret+One);
/* @end of Fonts */


body {
	font-family: 'Arvo', serif;
	font-size: 1em; 
	background: #eee; color: #909090;
	-webkit-font-smoothing: antialiased; }
hr { border: 0; }
a { text-decoration: none; }
i { text-align: left; text-indent: -9999px; overflow: hidden; }
.clear { clear: both; }
.number { font-family: 'Poiret One', cursive; }

svg { display:inline; margin: 20px 0; display: block; width: 500px; height: 500px; }

path { stroke: #fff; fill-rule: evenodd; cursor: pointer; }

#main { position: relative; float: left; }
#sidebar { position: relative; float: left; width: 300px; padding: 30px; }
#sidebar > * { margin-bottom: 20px; }

/**********************/
/* @group Root circle */
/**********************/

.root-circle {
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center; }
.root-circle--label { margin: auto; }
.root-circle h1.root-circle--label { font-size: 0.9em; }
.root-circle p.root-circle--value { font-size: 2.250em; margin: 15px 0; }
.root-circle .return {
	display: block;
	width: 40px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid #115f7b;
	margin: auto;
	background: url(../images/icon-return.png) no-repeat;
	background-position: center;
	background-size: 45%;
	cursor: pointer; }
/* @end of Root circle */

/******************/
/* @group Tooltip */
/******************/

#tooltip {
	position: relative;
	width: 100%;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);
	text-align: center;
	transition: opacity 0.3s ease-out;
	padding: 1px 0; }
#tooltip h2.tooltip--label {
	color: #414454;
	font-size: 1.125em;
	margin: 30px auto 0; }
#tooltip hr {
	background: #eee;
	height: 1px; width: 100%; }
#tooltip p.tooltip--value {
	display: inline-block;
	font-size: 2.188em;
	margin: 30px auto 20px;
	background: transparent; color: #eb4c56;
	border-radius: 4px;
	padding: 10px 15px 5px 15px; }
#tooltip p.tooltip--value.edit { background: #eeeeee; }
#tooltip i.dashboard {
	width: 20px; height: 20px;
	display: block;
	background: url(../images/dashboard.png);
	position: absolute;
	margin: 97px 0 0 10px;
	right: 20px; top: 0; bottom: 0;
	cursor: pointer; }
#tooltip a.tooltip--find-out-more {
	color: #9f9f9f;
	display: block;
	margin: 14px auto 14px;
	font-size: 0.938em; }
/* @end of Tooltip */

/**********************/
/* @group Users list  */
/**********************/

ul#users { 
	width: 100%;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 0px; }
ul#users li { display: inline-block; margin: 10px 6px 7px 6px; }
.family {
	display: block;
	width: 42px; height: 42px;
	background-image: url(../images/family-sprite.png);
	background-repeat: no-repeat;
	background-size: 187px; }
.mother { background-position: 0px 0px; }
.father { background-position: -48px 0; }
.grandmother { background-position: -94px 0; }
.grandfather { background-position: -144px 0; }
.daughter { background-position: 0px -48px; }
.son { background-position: -48px -48px; }
/* @end of Users list */

/*********************/
/* @group Breadcrumb */
/*********************/

#breadcrumb ul {
	width: 100%;
	border-top: 2px solid #fff;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2); 
	padding: 10px 0 10px 0; }
#breadcrumb ul li {
	position: relative;
	height: 40px;
	border-bottom: 1px solid #eeeeee;
	padding-top: 10px;
	transition: opacity 0.3s ease-out;
	box-sizing: border-box;
	cursor: pointer; }
#breadcrumb ul li:after,
#breadcrumb ul li:before {
	content: '';
	display: block;
	position: absolute;
	border-style: solid;
	width: 0; height: 0;
	border-width: 6px;
	-webkit-transform: rotate(90deg);
		 -moz-transform: rotate(90deg);
					transform: rotate(90deg); }
#breadcrumb ul li:after {
	top: 38px; left: 18px;
	border-color: transparent transparent transparent #fff; }
#breadcrumb ul li:before {
	top: 39px; left: 18px;
	border-color: transparent transparent transparent #eeeeee; }
#breadcrumb ul li:last-child { border: none; }
#breadcrumb ul li:last-child:before, 
#breadcrumb ul li:last-child:after { display:none; }
#breadcrumb ul li.visible { opacity: 1; }
#breadcrumb span.breadcrumb--value {
	position: relative;
	top: 1px;
	display: inline-block;
	background: #de5a71;
	border-radius: 100%;
	width: 16px; height: 16px;
	margin: 0px 14px 0 16px;
	overflow: hidden; }
#breadcrumb span.breadcrumb--value .reflect {
	position: relative;
	left: 8px; top: 0;
	width: 8px; height: 16px;
	background-color: rgba(1,1,1,0.1); }
#breadcrumb h2.breadcrumb--label {
	display: inline;
	font-size: 1.125em;
	color: #414454; }
/* @end of Breadcrumb */

/**********************/
/* @group Date picker */
/**********************/
#datepicker ul {
	width: 100%;
	border-top: 2px solid #fff;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.2); 
	padding: 10px 0 10px 0; }
#datepicker ul li {
	position: relative;
	text-align: center;
	font-size: 1.875em;
	color: #414454;
	height: 40px;
	padding-top: 4px;
	transition: opacity 0.3s ease-out;
	box-sizing: border-box; }
/* @end of Date picker */

/* @end of Main 