/***************/
/* @group Main */
/***************/
@import url(reset.css);

/****************/
/* @group Fonts */
/****************/
@import url(http://fonts.googleapis.com/css?family=Arvo|Poiret+One);
/* @end of Fonts */


body {
	font-family: 'Arvo', serif;
	font-size: 1em; 
	background: #eee; color: #909090;
  -webkit-font-smoothing: antialiased; }
hr { border: 0; }
a { text-decoration: none; }
i { text-align: left; text-indent: -9999px; overflow: hidden; }
.clear { clear: both; }
.number { font-family: 'Poiret One', cursive; }

svg { margin: 20px auto; display: block; }

path {
  stroke: #fff;
  fill-rule: evenodd; }

/**********************/
/* @group Main circle */
/**********************/

.circle-text {
	color: #fff;
	display: flex;
	align-items: center;
	text-align: center; }

.circle-text--label { margin: auto; }

.circle-text h1.circle-text--label { font-size: 1.125em; }

.circle-text p.circle-text--value { 
	font-size: 3.125em;
	margin: 20px 0; }

/*********************/
/* @group Breadcrumb */
/*********************/

#breadcrumb ul {
	margin: 60px 0 0;
	border-top: 2px solid #fff;
	min-height: 100px; }
#breadcrumb ul li {
	position: relative;
	text-align: center;
	min-width: 200px;
	top: -10px;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	display: inline-block; }
#breadcrumb ul li.visible { opacity: 1; }
#breadcrumb span.breadcrumb--value {
	display: block;
	margin: 0 auto;
	background: #de5a71;
	border-radius: 100%;
	border: 4px solid #eee;
	width: 12px; height: 12px; }
#breadcrumb h2.breadcrumb--label {
	font-size: 1.125em;
	color: #909090;
	margin: 25px 0; }
/* @end of Breadcrumb */

/******************/
/* @group Tooltip */
/******************/
div.tooltip {
	position: absolute;
	width: 340px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.5);
	text-align: center;
	z-index: 100;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	border: 1px solid transparent; }
/*div#tooltip.visible {
	opacity: 1;
	z-index: 100; }*/
div.tooltip:after {
	content: '';
	display: block;
	position: absolute;
	margin: 0 auto;
	left: 0; right: 0; bottom: -15px;
	width: 0; height: 0;
	border-top: 15px solid #fff;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent; }
div.tooltip h2.tooltip--label {
	color: #414454;
	font-size: 1.125em;
	margin: 30px auto 0; }
div.tooltip hr {
	background: #eee;
	height: 1px; width: 100%; }
div.tooltip p.tooltip--value {
	display: inline-block;
	font-size: 2.188em;
	margin: 40px auto 30px;
	color: #eb4c56;
	background: transparent;
	border-radius:4px;
	padding:10px 15px; }
div.tooltip p.tooltip--value.edit { background: #eeeeee; }
div.tooltip i.dashboard {
	width: 20px; height: 20px;
	display: block;
	background: url(../images/dashboard.png);
	position: absolute;
	margin: auto 0;
	right: 25px; top: 0; bottom: 0;
	cursor: pointer; }
div.tooltip a.tooltip--find-out-more {
	color: #9f9f9f;
	display: block;
	margin: 20px auto 15px;
	font-size: 0.938em; }

/**********************/
/* @group Family list */
/**********************/

ul#users {
	bottom: 0;
	margin: 45px 0 45px 45px;
	height: 45px;
	width: 100%; }

ul#users li {
	float:left;
	margin-right:22px; }

.family {
	display: block;
	width: 45px;
	height: 45px;
	background-image: url(../images/family-sprite.png);
	background-repeat: no-repeat;
	background-size:187px; }

.mother { background-position: 1px 0px; }
.father { background-position: -47px 0; }
.grandmother { background-position: -94px 0; }
.grandfather { background-position: -144px 0; }
.daughter { background-position: 1px -47px; }
.son { background-position: -47px -47px; }

/* @end of Main 